.post {
    margin: 0 -14px 18px;
    padding: 0 10px;
    background-color: rgba(153, 205, 50, 0.1);
}

.post-container {
    display: grid;
    grid-template-columns: 80px 1fr 100px 100px;
    grid-template-rows: 20px 1fr 25px;
    grid-template-areas:
    "author title title ."
    "author message message message"
    "author controls likes date"
;
    padding: 8px 0;
     border: 1px solid greenyellow;
}

.post-author {
    grid-area: author;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
     /*border: 1px solid greenyellow;*/
}

.post-author-ava {
    width: 50px;
    height: 50px;
    margin: 0 auto 8px;
    border: 3px solid rgb(49, 239, 49);
    border-radius: 10%;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS8II5A8OzCGjpl59GUZ96P8wGhjwAhgqhQ5Q&usqp=CAU");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.post-author-name, .post-author-rating {
    margin: 0 auto 5px;
    font-size: .7rem;
     /*border: 1px solid greenyellow;*/
}

.post-title {
    grid-area: title;
    margin: 0 0 5px;
    display: inline-block;
}

.post-message {
    grid-area: message;
    margin: 0 0 5px;
    border: 1px solid greenyellow;
}

.post-controls {
    grid-area: controls;
    display: flex;
    gap: 15px;
}

.post-controls-btn {
    padding: 2px 5px;
}

.post-likes {
    display: inline-block;
    margin: 0 ;
    grid-area: likes;
     border: 1px solid greenyellow;
}

.post-date {
    display: inline-block;
    grid-area: date;
    margin: 0 ;
     border: 1px solid greenyellow;
}