.post {
    margin: 0 -14px 10px;
    padding: 0 10px;
    background-color: rgba(153, 205, 50, 0.1);
}

.post-container {
    display: grid;
    grid-template-columns: 80px 1fr 100px 100px;
    grid-template-rows: 20px 1fr 25px;
    grid-template-areas:
    "author-ava title title ."
    "author-info message message message"
    "author-info controls likes date"
;
    padding: 8px 0;
     /*border: 1px solid greenyellow;*/
}

.post-container:hover {
    box-shadow: inset 0 0 30px -5px rgba(173, 255, 47, 0.3);
}

.post-author-ava {
    grid-area: author-ava;
    width: 50px;
    height: 50px;
    margin: 0 auto 8px;
    border: 3px solid rgba(145, 208, 145, 0.38);
    border-radius: 10%;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS8II5A8OzCGjpl59GUZ96P8wGhjwAhgqhQ5Q&usqp=CAU");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /*border: 1px solid greenyellow;*/
}

.post-author-info{
    grid-area: author-info;
    /*border: 1px solid greenyellow;*/
}

.post-author-name, .post-author-rating {
    margin: 0 auto 5px;
    font-size: .8rem;
    font-family: Cantarell;
     /*border: 1px solid greenyellow;*/
}

.post-title {
    grid-area: title;
    margin: 0 0 5px;
    display: inline-block;
    /*border: 1px solid greenyellow;*/
}

.post-message {
    grid-area: message;
    margin: 0 0 5px;
    padding: 3px 8px;
    text-align: left;
    /*border: 1px solid greenyellow;*/
}

.post-controls {
    grid-area: controls;
    display: flex;
    gap: 10px;
}

.post-controls-btn {
    padding: 2px 8px;
    margin: 0 0 0 10px;
    background-color: rgba(75, 213, 210, 0.39);
    border-radius: 3px;
    border: 1px solid transparent;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.post-controls-btn:hover {
    border: 1px solid rgba(64, 255, 0, 0.48);
    color: rgba(64, 255, 0, 0.8);
    background-color: rgba(29, 87, 85, 0.37);
}

.post-likes {
    display: inline-block;
    margin: 0 ;
    grid-area: likes;
     /*border: 1px solid greenyellow;*/
}

.post-date {
    text-align: right;
    display: inline-block;
    grid-area: date;
    margin: 0 ;
    color: rgba(119, 134, 82, 0.8);
    /*border: 1px solid greenyellow;*/
}

@media only screen and (max-width: 687px) {
    .post-container {
        display: grid;
        grid-template-columns: 90px 1fr;
        grid-template-rows: 25px auto auto auto auto;
        grid-template-areas:
    "author-ava title"
    "author-ava author-info"
    "message message"
    ". controls"
    "likes date"
    ;
        padding: 3px 0;
        /*border: 1px solid greenyellow;*/
    }
    .post-author-ava{
        height: 90px;
        width: 90px;
    }
    .post-author-name, .post-author-rating {
        margin: 5px;
    }
    .post-controls {
        margin-bottom: 6px;
    }
}