.profile-info {

}

.profile-info-title {

}

.profile-img {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    box-shadow: 5px 5px 8px 3px rgba(0, 0, 0, 0.227);
}

.profile-description {

}